body {
    align-content: center;
    background-image: url('./back.webp');
    background-size: cover;
    margin: 0; /* 기본 여백 없애기 */
    font-family: Arial, sans-serif;
}

/* Select 박스 */
.select {
    position: absolute;
    left: 60px;
    top: 300px;
    background-color: rgb(40, 40, 40);
    width: 200px;
    height: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer; /* 클릭 가능한 느낌 */
}

/* Option 박스 */
.option {
    position: absolute;
    top: 58px; /* .select와 option 사이의 간격 조정 */
    left: 0; /* .select 기준으로 정확히 맞추기 */
    margin: 5px 0;
    background-color: rgb(40, 40, 40);
    width: 200px;
    height: 50px;
    border-radius: 16px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    cursor: pointer; /* 클릭 가능한 느낌 */
}

.option:hover {
    background-color: rgb(61, 61, 61);
}

/* 교통현황 */
#trafficcolor {
    position: absolute;
    right: 10px;
    top: 240px;
    width: 200px; 
    height: 150px; 
    background-color: rgba(195, 216, 230, 0.5); 
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 10px;
    box-sizing: border-box;  
}

.low-traffic-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: green;
}

.low-traffic-line {
    width: 80%;  
    height: 5px;
    margin-bottom: 10px;  
    background-color: green;
}

.medium-traffic-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: yellow;
}

.medium-traffic-line {
    width: 80%;  
    height: 5px; 
    margin-bottom: 10px; 
    background-color: yellow;
}

.high-traffic-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: red;
}

.high-traffic-line {
    width: 80%;  
    height: 5px;  
    margin-bottom: 10px;
    background-color: red;
}





/* 지도 영역 */
.map {
    border-radius: 16px;
    position: absolute;
    right: 10px;
    top: 400px;
    width: 50%;
    height: 50%;
}

/* 휴게소 영역 */
.restarea {
    position: absolute;
    left: 270px;
    top: 300px;
    background-color: rgb(40, 40, 40);
    width: 200px;
    height: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer; /* 클릭 가능한 느낌 */
}

/* 배경 흐림 효과 */
.bar {
    position: absolute;
    top: 400px;
    width: 350px;
    left: 270px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}
